@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
  background-color: white !important;
}

body {
  background-color: white !important;
  color: black !important;
}